
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /*display: none;*/
}

.cards-container {
  display: none;
  /*display: flex;*/
  align-items: start;
  margin-top: 40px;
  border: 2px solid gray;
  width: 80%;
  height: 62vh;
}

.no-items {
  font-size: 70px;
  color: gray;
}

.visit {
  width: 400px;
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.visit-field {
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}
.visit-field-hide {display: none;}
.visit input {
  width: 260px;
  box-sizing: border-box;
}
.visit textarea {
  width: 260px;
  box-sizing: border-box;
  resize: none;
}
.visit select {
  width: 260px;
  box-sizing: border-box;
}
.visit-more-btn {
  float: right;
  margin: 2px;
}
.visit-edit-wrapper {
  display: inline-block;

}
.visit-edit-btn {
  margin: 2px;
}
