.entry-modal-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
}

.container-form {
  position: relative;
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(0,0,0, 0.6);
  border-radius: 10px;
  box-shadow: 0 0 37px 10px rgba(250,245,250,1);
}

.modal-input {
  border-radius: 5px;
  border: lightgrey;
  box-shadow: 0 0 37px -17px rgba(0,0,0,0.47);
  padding: 10px;
}

/*.modal-buttons {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*}*/

.modal-submit {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
  width: 100px;
  border-radius: 7px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.modal-close {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: #d9dad9;
  color: red;
  font-weight: bold;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  padding: 6px;
}

body {
  background-image: url("../img/bc.png");
}

.navbar {
  display: flex;
  align-items: center;
  background-color: darkblue;
  height: 70px;
  justify-content: space-between;
  font-family: sans-serif;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}

.navbar-logo-img {
  width: 50px;
  padding: 15px;
}

.navbar-logo-name {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.register-btn {
  cursor: pointer;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  border: none;
  height: 45px;
  width: 100px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 6px;
  margin-right: 30px;
}


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  margin-top: 40px;
  display: flex;
  border: 2px solid gray;
  width: 80%;
  height: 75vh;
}

.img-nurse {
  position: absolute;
  height: 45vh;
  right: 10px;
  bottom: 10%;
}